html {
    background-image: url(pictures/calm_background.jpg);
}

#paperChoice {
    background-image: url(pictures/paper.png); 
    background-size: 100px 130px;
    height: 130px; 
    width: 100px;
    border: none;
    font-size: 0; 
    margin-left: 30px;
    margin-right: 30px;
}


#scissorsChoice {
    background-image: url(pictures/scissors.png); 
    background-size: 100px 130px;
    height: 130px; 
    width: 100px;
    border: none;
    margin-left: 30px;
    margin-right: 30px;
    font-size: 0; 
}

#rockChoice {
    background-image: url(pictures/rock.png); 
    background-size: 100px 130px;
    height: 130px; 
    width: 100px;
    border: none;
    font-size: 0; 
    margin-right: 30px;
    margin-left: 30px;
}

.choice-container {
    display: flex;
    justify-content: center; 
    padding-top: 350px;
    flex-flow: row wrap;
  
    
}
/* GAME CONTAINER STARTS */
@font-face {
    font-family: Archivo;
    src: url(fonts/ArchivoBlack-Regular.ttf);
} 

.game-info-container {
    display: flex;
    flex-direction: column;
    width: 100%; 
    margin-top: 50px;
    align-items: center;
}

#roundNumber {
    font-family: Archivo; 
    font-size: 50px;
}

#gameInfo {
    font-family: Archivo; 
    font-size: 50px;
}
/* GAME CONTAINER ENDS */

/* SCOREBOARD CONTAINER STARTS */
@font-face {
    font-family: Oxygen;
    src: url(fonts/Oxygen-Regular.ttf);
} 


.score-container {
    height: 50px;
    display: flex;
    justify-content: center;  
    position: relative; 
    top: 250px;
}

#playerScore {
    margin-right: 30px; 
    margin-left: 30px; 
    font-family: Oxygen;
    font-size: 50px;
}

#computerScore {
    margin-left: 30px; 
    margin-right: 30px; 
    font-family: Oxygen;
    font-size: 50px;
}

/* SCOREBOARD CONTAINER ENDS */

